<footer class="footer navbar-dark text-light text-center py-2">
  <div class="container">
    <span class="text-muted mr-2">&copy; 2024 Unwritten Words</span>
    <ul class="list-inline d-inline">
      <li class="list-inline-item mr-2"><a href="/about-us" style="color: #aaaaaa">About Us</a></li>
      <li class="list-inline-item"><a href="/contact-us" style="color: #aaaaaa">Contact Us</a></li>
    </ul>
  </div>
</footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
