<%- include("partials/header") %>

<div class="container about-container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h1 class="mb-4">About Us</h1>
      <p>
        This online bookshop is the culmination of my final university project
        as an IT student in my last semester at University of Applied Science
        and Technology (UAST). I undertook this project under the guidance of
        Professor Reza Sohrabi.
      </p>
      <h2 class="mb-4 mt-5">Learning Experience</h2>
      <p>
        This project provided me with valuable experience in various aspects of
        web development, including:<br /><br /><strong
          >• Front-end development:</strong
        >
        Building user interfaces using HTML, CSS, and JavaScript frameworks like
        Bootstrap. <br /><strong>• Back-end development:</strong> Creating a
        server-side application using Node.js and Express.js to handle user
        interactions and database communication.<br /><strong
          >• Database management:</strong
        >
        Utilizing MongoDB to store and manage book data efficiently.<br /><br />Overall,
        this project served as a comprehensive learning experience, allowing me
        to apply the theoretical knowledge gained throughout my IT studies to a
        practical application.
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
