/* Homepage ============================================================ */

html {
  position: relative;
  min-height: 100%;
}

/* Search bar */
.form-inline .form-control {
  width: 450px;
  background-color: #343a40;
  border-color: #343a40;
  transition: background-color 0.5s, color 0.5s;
}
.form-inline .form-control:focus {
  background-color: #ffffff;
  color: #343a40;
}
.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
}

.form-inline .form-control::placeholder {
  color: #cccccc;
}

body {
  background-color: #343a40;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  color: #ffffff;
  margin-bottom: 100px;
}

/* Navbar */
.navbar-expand-md .navbar-nav .nav-link {
  padding: 0 8px;
  transition: color 0.5s;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-dark {
  background-color: #00000080 !important;
}

/* Hover effect */
.nav-link:hover,
.basket-icon:hover,
.navbar-brand:hover,
.navbar-nav .nav-link:hover,
.navbar-nav .category-link:hover,
.navbar-nav .btn:hover {
  color: #ffffff !important;
}

/* Category bar */
.navbar-dark + .navbar-dark {
  background-color: #00000035 !important;
}

.navbar-nav .nav-link,
.navbar-brand,
.navbar-nav .category-link,
.navbar-nav .btn {
  color: #f0f0f0 !important;
}

.basket-icon {
  color: #f0f0f0 !important;
}

.nav-link:hover,
.basket-icon:hover,
.navbar-brand:hover,
.navbar-nav .nav-link:hover,
.navbar-nav .category-link:hover,
.navbar-nav .btn:hover {
  color: #888888 !important;
}

/* Login/Register/Logout ============================================================ */

.form-control {
  width: 100%;
  background-color: #5a6268;
  border-color: #343a40;
  color: #ffffff;
  transition: all 0.5s;
}
.form-control::placeholder {
  color: #cccccc;
}
/* Register form */
.login-register-container {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
/* Register button */
.login-register-btn {
  width: 100%;
}

.navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
}

/* Cards ============================================================ */

.card {
  height: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #282828;
  color: #dddddd;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card img {
  height: 200px;
  object-fit: contain;
  padding: 10px;
}

.card-body {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  padding-bottom: 20px;
  background-color: #00000008;
  border-top: 1px solid #00000020;
  display: flex;
  justify-content: space-between;
}

.card .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.cards-group-margin {
  margin-left: 40px;
  margin-right: 40px;
}

.card-container {
  flex: 0 0 20%;
  max-width: 16%;
  padding: 15px;
}

/* Margin between cards */
.row.no-gutters > [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button-group .btn {
  width: calc(100% - 4px);
  margin: 0 10px;
  padding: 5px 0;
  flex: 1;
}

.button-group .btn-success {
  margin-bottom: 4px;
}

/* Footer ============================================================ */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
}

/* Add Book page ============================================================ */

#image {
  height: 44px;
}

/* Basket & Profile icons ============================================================ */

.basket-icon,
.profile-icon {
  font-size: 24px;
  color: #f0f0f0 !important;
  transition: color 0.5s;
}

.basket-icon:hover,
.profile-icon:hover {
  color: #888888 !important;
}

.profile-icon {
  margin-right: 15px;
}

.basket-icon {
  font-size: 24px;
  transition: color 0.5s;
}

/* Basket Badge Counter */
.badge {
  background-color: limegreen;
  color: #000000;
  padding: 2px 4px;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 35px;
}

/* Basket ============================================================ */

.basket-container {
  margin-top: 30px;
}

.basket-item {
  background-color: #282828;
  color: #dddddd;
  border: 2px solid #000000;
}

.basket-item-info {
  display: flex;
  align-items: center;
}

.basket-item-img {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.basket-item-details p {
  margin: 0;
}

.basket-summary {
  text-align: center;
  font-size: 1.2em;
}

.btn-danger,
.btn-warning,
.btn-success {
  margin: 5px 0;
}

/* Profile ============================================================ */

/* Disabled input fields */
input:disabled {
  background-color: #282828 !important;
  color: #dddddd;
}
.profile-hr {
  border-top: 1px solid #ffffff;
}

.profile-form-btn {
  width: 100%;
}

/* Responsiveness ============================================================ */

@media (max-width: 1200px) {
  .card-container {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 992px) {
  .card-container {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 768px) {
  .navbar .form-inline {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .navbar .form-inline input {
    width: 100%;
  }
  .badge {
    top: 0px;
    right: 38px;
  }
}

@media (min-width: 768px) {
  .center-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .navbar .basket-icon,
  .navbar .profile-icon,
  .navbar .logout-link,
  .navbar .nav-link {
    margin-left: 5px;
    margin-right: 5px;
  }
  .card-container {
    flex: 0 0 100%;
    max-width: 50%;
  }
  .badge {
    top: 0px;
    right: 38px;
  }
  .cards-group-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Logo and Navbar ============================================================ */

/* Fixed height */
.navbar {
  overflow: hidden;
  padding: 0;
}

.navbar-brand img {
  height: 48px;
  object-fit: contain;
}

/* ============================================================ */
